In [1]:
# Add dependencies
import glob
import pandas as pd

In [10]:

tripdata2018 = pd.concat([pd.read_csv(f) for f in glob.glob('Resource/2018/*.csv')], ignore_index = True)

In [14]:
five_year_comp = pd.concat([pd.read_csv(f) for f in glob.glob('Resource/fiveYearSep/*.csv')], ignore_index = True)

In [15]:
tripdata2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [16]:
tripdata2018.count()

tripduration               353892
starttime                  353892
stoptime                   353892
start station id           353892
start station name         353892
start station latitude     353892
start station longitude    353892
end station id             353892
end station name           353892
end station latitude       353892
end station longitude      353892
bikeid                     353892
usertype                   353892
birth year                 353892
gender                     353892
dtype: int64

In [17]:
five_year_comp.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-09-01 00:02:01,2017-09-01 00:08:05,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29670,Subscriber,1989.0,1
1,357,2017-09-01 00:08:12,2017-09-01 00:14:09,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,26163,Subscriber,1980.0,1
2,432,2017-09-01 00:10:12,2017-09-01 00:17:24,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,26273,Subscriber,1988.0,1
3,934,2017-09-01 00:10:11,2017-09-01 00:25:46,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,26297,Subscriber,1991.0,1
4,932,2017-09-01 00:10:16,2017-09-01 00:25:48,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,29247,Subscriber,1993.0,2

In [18]:
five_year_comp.count()

tripduration               121385
starttime                  121385
stoptime                   121385
start station id           121385
start station name         121385
start station latitude     121385
start station longitude    121385
end station id             121385
end station name           121385
end station latitude       121385
end station longitude      121385
bikeid                     121385
usertype                   121385
birth year                 119001
gender                     121385
dtype: int64

In [21]:
# Export to csv
tripdata2018.to_csv("Resource/CleanFiles/tripdata2018.csv")
five_year_comp.to_csv("Resource/CleanFiles/five_year_comp.csv")